<table mat-table [dataSource]="bossesDataSource" multiTemplateDataRows>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
            <div>
                <span>Name</span>
            </div>
        </th>
        <td mat-cell *matCellDef="let boss">
            <span>{{ boss.name }}</span>
        </td>
    </ng-container>

    <!-- Expanded Column -->
    <!-- <ng-container matColumnDef="expandedDetail">

    </ng-container> -->

    <!-- <tr mat-header-row *matHeaderRowDef="bossColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: bossColumns;"></tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr> -->
    <tr mat-header-row *matHeaderRowDef="bossColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: bossColumns;"></tr>
</table>
